  .FetchData {
    min-width: 200px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 202, 165);
    border: none;
    color: rgb(15, 66, 54);
    transition: all 0.5s;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
}

.FetchData:hover {
  background-color: rgb(195, 154, 207);
}

@media (min-width: 15px) {
  .FetchData {
      margin-left: 40%;
      margin-top: 15px;
      margin-right: 40%;
  }
  }
  @keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.Center{

  display: flex;
  justify-content: center;

}